body{
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 14px;
	font-family: "PT Sans", Arial, sans-serif;
}

#header, #header>h1{
	margin: 0px;
	padding: 0px;
	border: 0px;
	background-color: rgb(0, 238, 255);
}
