<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <%- await include('src/views/components/head.ejs', {scriptHotReload}) %>
    </head>
    <body>
        <%- await include('src/views/components/header.ejs') %>
        <p>Hot reload script loaded: <b><%= scriptHotReload%></b></p>
    </body>
</html>
